body {
    font-family:HAKUYOGuiFanZi3500, sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #adadad;
    background-color: #444444 ;}

.anniu{
    background-color: #333333;
    color: #adadad;
    width: 100px;
    height: 40px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: 3px solid;
}

.wenbenyu,.tiankong,.xinxi{
    background-color: #333333;
    border: 1px solid;
    border-color: #adadad ;
}

